In [1]:
import json

### Load Transactions
print('Transactions Loading....')

f = open('transaction.json', 'r')

lines = f.readlines()
transaction = []

for line in lines:
    transaction.append(json.loads(line)['products'])

f.close()

print('Transactions Loaded!!')

Transactions Loading....
Transactions Loaded!!

In [2]:
from mlxtend.preprocessing import TransactionEncoder

### Transaction Encoder
print('Transactions Encoding....')

te = TransactionEncoder()
te_array = te.fit(transaction).transform(transaction)
print(te_array)
print('{} x {}'.format(str(len(te_array)), str(len(te_array[0]))))

print('Transactions Encoded!!')

Transactions Encoding....
[[False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]
 ...
 [False False  True ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]]
37851 x 1559
Transactions Encoded!!

In [3]:
import pandas as pd

df = pd.DataFrame(te_array, columns=te.columns_)

In [4]:
df

,1,2,3,4,5,6,7,8,9,10,...,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37846,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37847,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37848,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37849,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37850,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
from mlxtend.frequent_patterns import fpgrowth, apriori
import numpy as np

frequent_itemsets = fpgrowth(df, min_support=0.0001)
frequent_itemsets

        support          itemsets
0      0.003752             (265)
1      0.003540             (238)
2      0.003487              (26)
3      0.003408             (710)
4      0.003302             (459)
...         ...               ...
16066  0.000211        (157, 646)
16067  0.000132       (646, 1399)
16068  0.000132       (1062, 646)
16069  0.000106        (852, 646)
16070  0.000132  (157, 646, 1399)

[16071 rows x 2 columns]

In [6]:
from mlxtend.frequent_patterns import association_rules

ar = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.9)
ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(172, 1221)",(871),0.000106,0.003699,0.000106,1.0,270.364286,0.000105,inf
1,"(459, 103)",(26),0.000106,0.003487,0.000106,1.0,286.750000,0.000105,inf
2,"(546, 1151)",(103),0.000106,0.002985,0.000106,1.0,334.964602,0.000105,inf
3,"(103, 1151)",(546),0.000106,0.003382,0.000106,1.0,295.710938,0.000105,inf
4,"(392, 103)",(26),0.000106,0.003487,0.000106,1.0,286.750000,0.000105,inf
...,...,...,...,...,...,...,...,...,...
2094,"(256, 422)",(1298),0.000106,0.003276,0.000106,1.0,305.250000,0.000105,inf
2095,"(1364, 1543)",(1387),0.000106,0.003672,0.000106,1.0,272.309353,0.000105,inf
2096,"(883, 413)",(1089),0.000106,0.002906,0.000106,1.0,344.100000,0.000105,inf
2097,"(157, 1399)",(646),0.000132,0.003117,0.000132,1.0,320.771186,0.000132,inf
2098,"(646, 1399)",(157),0.000132,0.003223,0.000132,1.0,310.254098,0.000132,inf

In [7]:
f = open('customer.json', 'r')
data = f.readline()
customer = json.loads(data)

In [8]:
import DM_process as DM

In [9]:
transactions, customers, days = DM.load_dataset()

Transactions Loading....
Transactions Loaded!!
Customers Information Loading....
Customers Information Loaded!!
Time-Day Information Loading....
Time-Day Information Loaded!!

In [11]:
array, col = DM.transaction_encode(transactions)

Transactions Encoding....
Size: 37851 x 1559
Transactions Encoded!!

In [12]:
array, col = DM.transaction_encode(customers)

Transactions Encoding....
Size: 10281 x 41
Transactions Encoded!!

In [13]:
array

array([[False, False,  True, ..., False, False, False],
       [ True,  True, False, ..., False,  True, False],
       [False,  True,  True, ...,  True, False, False],
       ...,
       [ True, False,  True, ..., False, False, False],
       [False, False,  True, ..., False, False, False],
       [ True, False,  True, ...,  True, False, False]])

In [14]:
df = pd.DataFrame(array, columns=col)
df

,0,1,2,3,4,5,BC,Bachelors Degree,CA,Clerical,...,Yucatan,Zacatecas,"[10000, 30000]","[110000, 130000]","[130000, 150000]",[150000],"[30000, 50000]","[50000, 70000]","[70000, 90000]","[90000, 110000]"
0,False,False,True,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,True,True,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,True,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,True,False,True,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,True,False,False,True,False,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10276,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10277,True,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
10278,True,False,True,True,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
10279,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
10280,True,False,True,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,True,False,False

In [15]:
frequent_itemsets = fpgrowth(df, min_support=0.05, use_colnames=True)
frequent_itemsets

      support                                    itemsets
0    0.601790                                         (Y)
1    0.495769                                         (F)
2    0.471549                                         (2)
3    0.323607                            ([30000, 50000])
4    0.315436                                         (4)
..        ...                                         ...
763  0.069059                  (1, Y, High School Degree)
764  0.058166                  (1, M, High School Degree)
765  0.098726                  (Y, 0, High School Degree)
766  0.116039     (Y, [30000, 50000], High School Degree)
767  0.061764  (Y, [30000, 50000], 0, High School Degree)

[768 rows x 2 columns]

In [16]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.9)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Skilled Manual, Y, High School Degree)","([30000, 50000])",0.065363,0.323607,0.058944,0.901786,2.786672,0.037792,6.886914
1,"(Skilled Manual, M, High School Degree)","([30000, 50000])",0.056707,0.323607,0.051260,0.903945,2.793345,0.032909,7.041738
2,"(Professional, [50000, 70000])",(Bachelors Degree),0.101936,0.254742,0.096975,0.951336,3.734511,0.071008,15.314326
3,"(Professional, 0, [50000, 70000])",(Bachelors Degree),0.066336,0.254742,0.062543,0.942815,3.701063,0.045644,13.032465
4,"(Professional, Y, [50000, 70000])",(Bachelors Degree),0.056804,0.254742,0.053691,0.945205,3.710446,0.039221,13.600963
5,"([10000, 30000])",(Partial High School),0.216127,0.300943,0.200564,0.927993,3.083611,0.135522,9.708147
6,"([10000, 30000], M)",(Partial High School),0.108258,0.300943,0.100866,0.931716,3.095984,0.068286,10.237499
7,"([10000, 30000], M, 1)",(Partial High School),0.069546,0.300943,0.064974,0.934266,3.104456,0.044045,10.634583
8,"([10000, 30000], M, Y)",(Partial High School),0.062348,0.300943,0.058360,0.936037,3.110343,0.039597,10.929152
9,"([10000, 30000], M, 0)",(Partial High School),0.079370,0.300943,0.074020,0.932598,3.098914,0.050134,10.371457
10,"([10000, 30000], Skilled Manual)",(Partial High School),0.103297,0.300943,0.099115,0.959510,3.188341,0.068028,17.265070
11,"([10000, 30000], Skilled Manual, 1)",(Partial High School),0.067406,0.300943,0.064780,0.961039,3.193420,0.044494,17.942450
12,"([10000, 30000], Skilled Manual, Y)",(Partial High School),0.057679,0.300943,0.055637,0.964587,3.205209,0.038278,19.740024
13,"([10000, 30000], Skilled Manual, 0)",(Partial High School),0.073436,0.300943,0.070227,0.956291,3.177644,0.048126,15.993566
14,"([10000, 30000], N)",(Partial High School),0.092501,0.300943,0.084914,0.917981,3.050344,0.057076,8.523112
15,"([10000, 30000], N, 0)",(Partial High School),0.077424,0.300943,0.071005,0.917085,3.047368,0.047704,8.431045
16,"([10000, 30000], N, 1)",(Partial High School),0.059819,0.300943,0.055442,0.926829,3.079745,0.037440,9.553772
17,"([10000, 30000], 2)",(Partial High School),0.089583,0.300943,0.082677,0.922910,3.066722,0.055717,9.068043
18,"([10000, 30000], 2, 0)",(Partial High School),0.055928,0.300943,0.051843,0.926957,3.080168,0.035012,9.570417
19,"([10000, 30000], 1)",(Partial High School),0.139092,0.300943,0.129268,0.929371,3.088190,0.087409,9.897533
20,"([10000, 30000], 1, 0)",(Partial High School),0.088707,0.300943,0.082580,0.930921,3.093342,0.055884,10.119675
21,"([10000, 30000], Y)",(Partial High School),0.123626,0.300943,0.115650,0.935484,3.108503,0.078446,10.835376
22,"([10000, 30000], 1, Y)",(Partial High School),0.079272,0.300943,0.073826,0.931288,3.094562,0.049969,10.173769
23,"([10000, 30000], Y, 0)",(Partial High School),0.077230,0.300943,0.072756,0.942065,3.130373,0.049514,12.066323
24,"([10000, 30000], 0)",(Partial High School),0.154654,0.300943,0.143760,0.929560,3.088818,0.097218,9.924106
25,"([10000, 30000], F)",(Partial High School),0.107869,0.300943,0.099698,0.924256,3.071195,0.067236,9.229210
26,"([10000, 30000], F, 0)",(Partial High School),0.075285,0.300943,0.069740,0.926357,3.078175,0.047084,9.492452
27,"([10000, 30000], F, Y)",(Partial High School),0.061278,0.300943,0.057290,0.934921,3.106632,0.038849,10.741600
28,"([10000, 30000], F, 1)",(Partial High School),0.069546,0.300943,0.064293,0.924476,3.071924,0.043364,9.256026
29,"([10000, 30000], Manual)",(Partial High School),0.105145,0.300943,0.101449,0.964847,3.206075,0.069806,19.886318
30,"([10000, 30000], Manual, 0)",(Partial High School),0.075771,0.300943,0.073534,0.970475,3.224775,0.050731,23.676740
31,"([10000, 30000], Manual, Y)",(Partial High School),0.061959,0.300943,0.060014,0.968603,3.218554,0.041367,22.264950
32,"([10000, 30000], Manual, F)",(Partial High School),0.051746,0.300943,0.050092,0.968045,3.216701,0.034520,21.876357
33,"([10000, 30000], Manual, 1)",(Partial High School),0.067114,0.300943,0.064488,0.960870,3.192857,0.044290,17.864778
34,"([10000, 30000], Manual, M)",(Partial High School),0.053399,0.300943,0.051357,0.961749,3.195778,0.035287,18.275335
35,"([10000, 30000], CA)",(Partial High School),0.089875,0.300943,0.083455,0.928571,3.085534,0.056408,9.786791
36,"([10000, 30000], 0, CA)",(Partial High School),0.062737,0.300943,0.058457,0.931783,3.096206,0.039577,10.247533
37,"([10000, 30000], 1, CA)",(Partial High School),0.059430,0.300943,0.055150,0.927987,3.083592,0.037265,9.707353
38,"(Manual, 3, High School Degree)","([30000, 50000])",0.056317,0.323607,0.051649,0.917098,2.833991,0.033424,8.158995
39,"(Manual, High School Degree)","([30000, 50000])",0.113899,0.323607,0.102714,0.901793,2.786696,0.065855,6.887449
40,"(Manual, 0, High School Degree)","([30000, 50000])",0.072561,0.323607,0.065947,0.908847,2.808494,0.042466,7.420433
41,"(Manual, M, High School Degree)","([30000, 50000])",0.059138,0.323607,0.053497,0.904605,2.795385,0.034359,7.090468